html, body {
    font-weight: 400;
}

// button
.mat-raised-button {
    box-shadow: none !important;
}

// checkbox
.mat-checkbox-frame {
    background-color: #ecf0f3 !important;
    border-style: none !important;
}

// dropdown
.mat-select-panel:not([class*="mat-elevation-z"]) {
    box-shadow: 0 0 50px 0 rgba(82,63,105,.15);
}
.mat-select-panel.mat-option.mat-selected:not(.mat-option-multiple) {
    background: #f3f6f9 !important;
}
.mat-option:hover:not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled) {
    background: #f3f6f9;
}

// table
.mat-table {
    font-family: 'Poppins';
}

.mat-cell, .mat-footer-cell {
    font-size: inherit;
}
