<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1> Product List</h1>

    <div class="kt-section__content">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in productList">
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.productName}}</td>
                    <td>{{item.unitPrice}}</td>
                    <td>{{item.quantity}}</td>
                </tr>
          
            </tbody>
        </table>
    </div>




</body>
</html>