<!-- begin:: Content -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                Sản phẩm
            </h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a ui-sref="home" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a ui-sref="order-list" class="kt-subheader__breadcrumbs-link">
                    Quản lý  Sản phẩm
                </a>
                <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
            </div>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <a href="#" class="btn kt-subheader__btn-daterange" id="kt_dashboard_daterangepicker"
                   data-toggle="kt-tooltip" title="Select dashboard daterange" data-placement="left">
                    <span class="kt-subheader__btn-daterange-title"
                          id="kt_dashboard_daterangepicker_title">Today</span>&nbsp;
                    <span class="kt-subheader__btn-daterange-date"
                          id="kt_dashboard_daterangepicker_date">Aug 16</span>

                    <!--<i class="flaticon2-calendar-1"></i>-->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                         class="kt-svg-icon kt-svg-icon--sm">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24" />
                            <path d="M4.875,20.75 C4.63541667,20.75 4.39583333,20.6541667 4.20416667,20.4625 L2.2875,18.5458333 C1.90416667,18.1625 1.90416667,17.5875 2.2875,17.2041667 C2.67083333,16.8208333 3.29375,16.8208333 3.62916667,17.2041667 L4.875,18.45 L8.0375,15.2875 C8.42083333,14.9041667 8.99583333,14.9041667 9.37916667,15.2875 C9.7625,15.6708333 9.7625,16.2458333 9.37916667,16.6291667 L5.54583333,20.4625 C5.35416667,20.6541667 5.11458333,20.75 4.875,20.75 Z"
                                  fill="#000000" fill-rule="nonzero" opacity="0.3" />
                            <path d="M2,11.8650466 L2,6 C2,4.34314575 3.34314575,3 5,3 L19,3 C20.6568542,3 22,4.34314575 22,6 L22,15 C22,15.0032706 21.9999948,15.0065399 21.9999843,15.009808 L22.0249378,15 L22.0249378,19.5857864 C22.0249378,20.1380712 21.5772226,20.5857864 21.0249378,20.5857864 C20.7597213,20.5857864 20.5053674,20.4804296 20.317831,20.2928932 L18.0249378,18 L12.9835977,18 C12.7263047,14.0909841 9.47412135,11 5.5,11 C4.23590829,11 3.04485894,11.3127315 2,11.8650466 Z M6,7 C5.44771525,7 5,7.44771525 5,8 C5,8.55228475 5.44771525,9 6,9 L15,9 C15.5522847,9 16,8.55228475 16,8 C16,7.44771525 15.5522847,7 15,7 L6,7 Z"
                                  fill="#000000" />
                        </g>
                    </svg>
                </a>
                <div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title="Quick actions"
                     data-placement="left">
                    <a href="#" class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                             viewBox="0 0 24 24" version="1.1"
                             class="kt-svg-icon kt-svg-icon--success kt-svg-icon--md">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <polygon points="0 0 24 0 24 24 0 24" />
                                <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z"
                                      fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z"
                                      fill="#000000" />
                            </g>
                        </svg>

                        <!--<i class="flaticon2-plus"></i>-->
                    </a>
                    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-md dropdown-menu-right">

                        <!--begin::Nav-->
                        <ul class="kt-nav">
                            <li class="kt-nav__head">
                                Add anything or jump to:
                                <i class="flaticon2-information" data-toggle="kt-tooltip"
                                   data-placement="right" title="Click to learn more..."></i>
                            </li>
                            <li class="kt-nav__separator"></li>
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-drop"></i>
                                    <span class="kt-nav__link-text">Order</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-calendar-8"></i>
                                    <span class="kt-nav__link-text">Ticket</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-telegram-logo"></i>
                                    <span class="kt-nav__link-text">Goal</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-new-email"></i>
                                    <span class="kt-nav__link-text">Support Case</span>
                                    <span class="kt-nav__link-badge">
                                        <span class="kt-badge kt-badge--success">5</span>
                                    </span>
                                </a>
                            </li>
                            <li class="kt-nav__separator"></li>
                            <li class="kt-nav__foot">
                                <a class="btn btn-label-brand btn-bold btn-sm" href="#">Upgrade plan</a>
                                <a class="btn btn-clean btn-bold btn-sm" href="#"
                                   data-toggle="kt-tooltip" data-placement="right"
                                   title="Click to learn more...">Learn more</a>
                            </li>
                        </ul>

                        <!--end::Nav-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <!-- begin:: tabs -->
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">

            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Quản lý sản phẩm
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions">
                        <div class="dropdown dropdown-inline">
                            <button type="button" class="btn btn-default btn-icon-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="la la-download"></i> Export
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <ul class="kt-nav">
                                    <li class="kt-nav__section kt-nav__section--first">
                                        <span class="kt-nav__section-text">Choose an option</span>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon la la-print"></i>
                                            <span class="kt-nav__link-text">Print</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon la la-copy"></i>
                                            <span class="kt-nav__link-text">Copy</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon la la-file-excel-o"></i>
                                            <span class="kt-nav__link-text">Excel</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon la la-file-text-o"></i>
                                            <span class="kt-nav__link-text">CSV</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon la la-file-pdf-o"></i>
                                            <span class="kt-nav__link-text">PDF</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        &nbsp;
                        <a ui-sref="product-create" class="btn btn-brand btn-elevate btn-icon-sm">
                            <i class="la la-plus"></i>
                            Tạo sản phẩm mới
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body">

            <form class="kt-form kt-form--fit kt-margin-b-20">
                <div class="row kt-margin-b-20">
                    <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                        <label>Mã:</label>
                        <input type="number" ng-model="productFilter.id" class="form-control kt-input" placeholder="Mã" data-col-index="0">
                    </div>
                    <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                        <label>Tên sản phẩm:</label>
                        <input type="text" ng-model="productFilter.name" class="form-control kt-input" placeholder="Tên sản phẩm" data-col-index="1">
                    </div>
                    <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                        <label>Loại sản phẩm:</label>
                        <select ng-model="productFilter.catalogID" class="form-control kt-input" data-col-index="2">
                            <option value="">Select</option>
                        </select>
                    </div>
                    <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                        <label>Tùy chọn</label>
                        <div class="form-check-label">
                            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                                <input type="checkbox" ng-model="productFilter.searchByMultiKeyword" checked="false">Hiển thị toàn bộ phiên bản
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row kt-margin-b-20">
                    <div class="col-lg-4 kt-margin-b-10-tablet-and-mobile">
                        <label>Giá gốc:</label>
                        <div class="input-daterange input-group" id="kt_datepicker">
                            <div class="input-group-prepend"><span class="input-group-text" id="basic-addon2"><i>VNĐ</i></span></div>
                            <input type="number" class="form-control kt-input" name="start" placeholder="từ" data-col-index="5">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="la la-ellipsis-h"></i></span>
                            </div>
                            <input type="number" class="form-control kt-input" name="end" placeholder="đến" data-col-index="5">
                        </div>
                    </div>
                    <div class="col-lg-4 kt-margin-b-10-tablet-and-mobile">
                        <label>Giá bán:</label>
                        <div class="input-daterange input-group" id="kt_datepicker">
                            <div class="input-group-prepend"><span class="input-group-text" id="basic-addon2"><i>VNĐ</i></span></div>
                            <input type="number" class="form-control kt-input" name="start" placeholder="từ" data-col-index="5">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="la la-ellipsis-h"></i></span>
                            </div>
                            <input type="number" class="form-control kt-input" name="end" placeholder="đến" data-col-index="5">
                        </div>
                    </div>


                </div>

                <div class="row kt-margin-b-20">
                    <div class="col-lg-4 kt-margin-b-10-tablet-and-mobile">
                        <label>Trọng lượng:</label>
                        <div class="input-daterange input-group" id="kt_datepicker">
                            <input type="number" class="form-control kt-input" name="start" placeholder="từ" data-col-index="5">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="la la-ellipsis-h"></i></span>
                            </div>
                            <input type="number" class="form-control kt-input" name="end" placeholder="đến" data-col-index="5">
                        </div>
                    </div>
                    <div class="col-lg-4 kt-margin-b-10-tablet-and-mobile">
                        <label>Số phiên bản:</label>
                        <div class="input-daterange input-group" id="kt_datepicker">
                            <input type="number" class="form-control kt-input" name="start" placeholder="từ" data-col-index="5">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="la la-ellipsis-h"></i></span>
                            </div>
                            <input type="number" class="form-control kt-input" name="end" placeholder="đến" data-col-index="5">
                        </div>
                    </div>


                </div>
                <div class="kt-separator kt-separator--md kt-separator--dashed"></div>
                <div class="row">
                    <div class="col-lg-8">
                        <button class="btn btn-primary btn-brand--icon" ng-click="search()" id="kt_search">
                            <span>
                                <i class="la la-search"></i>
                                <span>Tìm kiếm</span>
                            </span>
                        </button>
                        &nbsp;&nbsp;
                        <button class="btn btn-secondary btn-secondary--icon" ng-click="reset()" id="kt_reset">
                            <span>
                                <i class="la la-close"></i>
                                <span>Reset</span>
                            </span>
                        </button>
                    </div>
                    <div class="col-lg-4">
                        <span style="float: right;"></span>
                    </div>
                </div>
            </form>
            <div class="tab-content">
                <!-- begin:: tab1-->
                <div class="tab-pane active" id="kt_tabs_5_1" role="tabpanel">
                    <!-- begin:: content-tab1-->

                    <div class="kt-portlet kt-portlet--mobile">
                        <!--begin: Datatable -->
                        <table ng-if="productList.length>0" class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_1">
                            <thead>
                                <tr>
                                    <th>Mã sản phẩm</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Loại sản phẩm</th>
                                    <th>Số phiên bản</th>
                                    <th>Giá sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Hiển thị</th>
                                    <th>Tùy chọn</th>
                                </tr>
                            </thead>
                            <tbody>


                                <tr>
                                    <td>1</td>
                                    <td>Iphone XLLL</td>
                                    <td>Iphone</td>
                                    <td>Hiện có 4 phiên bản</td>
                                    <td>
                                        <ul>
                                            <li>
                                                Giá gốc:{{item.originalPrice}} 20.000.000
                                            </li>
                                            <li>
                                                Giá bán:{{item.originalPrice}} 26.000.000
                                            </li>
                                            <li>
                                                Giá khuyến mãi:{{item.originalPrice}}  23.000.000
                                            </li>
                                        </ul>
                                    </td>
                                    <td>Tồn kho: 100</td>
                                    <td class="text-success">Đang hiển thị</td>
                                    <td>
                                        <span class="dtr-data">
                                            <span class="dropdown">
                                                <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" title="Edit">
                                                    <i class="la la-edit"></i>
                                                </a>
                                                <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" title="View">
                                                    <i class="la la-eye"></i>
                                                </a>
                                                <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="true">
                                                    <i class="la la-ellipsis-h"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#"><i class="la la-edit"></i> Edit Details</a>
                                                    <a class="dropdown-item" href="#"><i class="la la-leaf"></i> Update Status</a>
                                                    <a class="dropdown-item" href="#"><i class="la la-print"></i> Generate Report</a>
                                                </div>
                                            </span>

                                        </span>
                                    </td>
                                </tr>


                                <tr>
                                    <td>2</td>
                                    <td>Samsung galaxy X</td>
                                    <td>Samsung</td>
                                    <td>Hiện có 2 phiên bản</td>
                                    <td>
                                        <ul>
                                            <li>
                                                Giá gốc:{{item.originalPrice}} 20.000.000
                                            </li>
                                            <li>
                                                Giá bán:{{item.originalPrice}} 26.000.000
                                            </li>
                                            <li>
                                                Giá khuyến mãi:{{item.originalPrice}}  23.000.000
                                            </li>
                                        </ul>
                                    </td>
                                    <td class="text-danger">HẾT HÀNG</td>
                                    <td class="text-danger">Đã ẩn</tdclass="text-danger">
                                    <td>
                                        <span class="dtr-data">
                                            <span class="dropdown">
                                                <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" title="View">
                                                    <i class="la la-edit"></i>
                                                </a>
                                                <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" title="View">
                                                    <i class="la la-eye"></i>
                                                </a>
                                                <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="true">
                                                    <i class="la la-ellipsis-h"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#"><i class="la la-edit"></i> Edit Details</a>
                                                    <a class="dropdown-item" href="#"><i class="la la-leaf"></i> Update Status</a>
                                                    <a class="dropdown-item" href="#"><i class="la la-print"></i> Generate Report</a>
                                                </div>
                                            </span>
                                          
                                        </span>
                                    </td>
                                </tr>


                                <!--<tr ng-repeat="item in productList">
                                    <td>{{item.id}}</td>
                                    <td>{{item.id}}</td>
                                    <td>{{item.name}}</td>
                                    <td></td>
                                    <td>chưa có</td>
                                    <td>
                                        <ul>
                                            <li>
                                                Giá gốc:{{item.originalPrice}} 20.000.000
                                            </li>
                                            <li>
                                                Giá bán:{{item.originalPrice}} 26.000.000
                                            </li>
                                            <li>
                                                Giá khuyến mãi:{{item.originalPrice}}  23.000.000
                                            </li>
                                        </ul
                                    </td>
                                    <td>chưa có</td>
                                    <td>{{item.catalogID}}</td>
                                    <td>tool here</td>
                                </tr>-->


                            </tbody>
                        </table>

                        <!--end: Datatable -->


                    </div>
                    <!-- end:: content-tab1-->
                </div>
                <!-- end:: tab1-->
                <!-- begin:: tab2-->
                <!--
                <div class="tab-pane" id="kt_tabs_5_2" role="tabpanel">
                    content 2
                </div>
                <div class="tab-pane" id="kt_tabs_5_3" role="tabpanel">
                    content 3

                </div>
                <div class="tab-pane" id="kt_tabs_5_4" role="tabpanel">
                    content 4

                </div>
                -->
            </div>
        </div>
    </div>
    <!-- end:: tabs -->
</div>
<!-- end:: Content -->
<!-- end:: Content -->
<!-- end:: Content -->
<!--begin::Page Scripts(used by this page) -->

<script ng-if="productList.length>0" src="./Assets/admin/js/pages/crud/datatables/basic/basic.js" type="text/javascript"></script>

