<div style="text-align:center">
  <h1 style="text-align: center ; color: blue; ">
   Blue©
  </h1>

  <div >
    <table style="width:100% ">
      <thead >
         <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
      </thead>
      <tbody>
        <tr *ngFor="let row of listProduct">
          <td>{{row.id}} </td>
          <td>{{row.productName}} </td>
          <td>{{row.unitPrice}} </td>
          <td>{{row.quantity}} </td>
        </tr>
      </tbody>
    </table>
  </div>
 
</div>

<router-outlet></router-outlet> 