@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html ng-app>

<head>

    <script src="~/Scripts/Plugins/angularjs/angular.js"></script>
  
</head>
<body>
    <h1>Index</h1>
    
    <a href="/swagger">Vào swagger</a>

    <div >
        10+20= {{10+20}}
    </div>
</body>
</html>